<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">TodoList</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/home">Home</a>
      <a class="nav-item nav-link active" href="/about">About</a>
      <a class="nav-item nav-link active" href="/askme">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/nikhil722sharma" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.steamcommunity.com/id/nikhilandsharma" target="_blank">
        <i class="fa fa-steam"></i>
      </a>
    </div>
  </div>
</nav>